.wrapper{
  background: #ececec;
  padding: 0 20px 0 20px;
}
.row{
  width: 900px;
  height: 550px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.right-image{
  background-color: blue;
  border-radius: 10px 0 0 10px;
}



.text img{
  position: absolute;
  width : 20%;
  height: 50%;
  border: transparent;
}
.text h2{
  position: absolute;
  left: 30%;
  top: 70%;
}

.side-form{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.side-form h2{
  font-weight: 700;
  text-align: center;
}
.form-control{
  border: none !important;
  border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}

.btn{
  width: 100% ;
}
.signin{
  text-align: center;
}
@media only screen and (max-width: 768px){
  .right-image{
      border-radius: 10px 10px 0 0;
  }
  .row{
      max-width: 420px;
      width: 100%;
  }
  
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 40px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

li:hover {
  background-color: #f0f0f0;
}

h2 {
  margin-top: 0;
}

p {
  margin-bottom: 10px;
}

img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #ddd;
}

.frame-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.frame-info p {
  width: 50%;
  margin-bottom: 10px;
}

.frame-info p:nth-child(2n+1) {
  margin-right: 20px;
}




